.btn {
  &:hover {
    .icon {
      animation: icon-animation linear 0.3s;

      @keyframes icon-animation {
        50% {
          opacity: 0;
          transform: translateY(20px);
        }
        51% {
          opacity: 0;
          transform: translateY(-20px);
        }
      }
    }
  }
}
